In [1]:
# Date: June 16, 2025
# Author: Lydia Bullock

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Checks the column called "modified_complete" for NaNs 
# If empty, then it checks how much of the row has been filled out and if it doesn't pass the threshold, removes it

def check_completion(df, threshold):

    length_rows = df.shape[1]
    
    #Iterate through each row of the dataframe
    for index, row in df.iterrows():
        
        # If there is a NaN under the "modified_complete" column:
        if pd.isna(row['modified_completed']):
             
            # Check what percentage of data is available in that row
            percentage_nans = row.isna().sum() / length_rows * 100 

            # Drop the row if too many NaNs
            if percentage_nans >= threshold:
                modified_df = df.drop(index) #the drop function does not modify the original dataframe unless inplace=True
                print(f'Row {index} has {round(percentage_nans,2)}% NaNs. Row {index} will be removed from dataframe.')
    
    return modified_df

In [3]:
# Checks if "ess_0900" is empty and if so, removes the row

def check_ess_0900(df):
    
    #Iterate through each row of the dataframe
    for index, row in df.iterrows():
        
        # If there is a NaN under the "ess_0900" column:
        if pd.isna(row['ess_0900']):

            #Drop the row
            modified_df = df.drop(index) #the drop function does not modify the original dataframe unless inplace=True
            removed_indices_list.append(index)
            #print(f'Row {index} has no ess_0900 score. Row {index} will be removed from dataframe.')
    
    return modified_df

In [27]:
modified_df = check_ess_0900(sleep_df)
modified_df.head()

,modified_created_at,modified_completed,subject_code,dem_0100,modified_dem_0110,dem_0500,dem_0600,dem_0610,dem_0700,dem_0800,...,sched_1701,sched_1801,soclhx_0101,narc_1710,never_cigarette_smoker,former_cigarette_smoker,former_smokeless_user,current_cigarette_smoker,current_smokeless_user,visitcode
0,28SEP18:17:25:32,NaN,BOGN00002,1960.0,58.0,F,5.0,2.0,168.0,30.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,12OCT18:08:07:19,12OCT18:08:48:00,BOGN00004,1987.0,30.0,F,5.0,7.0,188.0,29.4,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
2,08MAR19:07:35:09,08MAR19:07:55:00,BOGN00007,1988.0,30.0,F,5.0,7.0,165.0,25.8,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1
3,18OCT18:16:06:54,18OCT18:16:43:00,BOGN00008,1976.0,42.0,M,5.0,4.0,156.0,26.8,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,1
4,01MAR19:11:55:20,01MAR19:12:23:00,BOGN00009,1982.0,36.0,M,5.0,3.0,255.0,45.2,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1875,11JUN19:10:36:14,NaN,STNF00493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1876,25OCT18:07:12:24,25OCT18:08:28:00,STNF00494,1941.0,77.0,M,6.0,2.0,228.0,29.3,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1877,21APR19:22:52:24,21APR19:23:30:00,STNF00495,1986.0,32.0,F,5.0,3.0,315.0,55.8,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1879,11JUN19:07:51:59,11JUN19:08:55:00,STNF00496,1948.0,71.0,F,5.0,7.0,195.0,30.5,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
1880,26JUN19:19:51:35,26JUN19:21:11:00,STNF00497,1988.0,30.0,M,5.0,4.0,136.0,23.3,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1